<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jxnu.dao.custommapper.PassageCustomMapper">
	<select id="selectPassageByQuestionId" parameterType="java.lang.Long"
		resultType="org.jxnu.pojo.PassageInfo">
		select passage_info.id,passage from passage_info, passage_question
		where
		passage_info.id=passage_question.passage_id and
		passage_question.question_id=#{id, jdbcType=BIGINT}
	</select>
</mapper>