<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jxnu.dao.custommapper.StudentPaperCustomMapper">
<resultMap id="BaseResultMap" type="org.jxnu.pojo.custom.StudentPaperCustom">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="student_id" jdbcType="VARCHAR" property="studentId" />
	<result column="paper_id" jdbcType="BIGINT" property="paperId" />
	<result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
	<result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
	<result column="score" jdbcType="INTEGER" property="score" />
	<result column="correct" jdbcType="INTEGER" property="correct" />
	<result column="paper_name" jdbcType="VARCHAR" property="paperName" />
	<result column="username" jdbcType="VARCHAR" property="studentName" />
</resultMap>

	<select id="selectByStudentId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select student_paper.id , student_id , paper_id ,start_time,end_time,
		score, correct, paper_name
		from student_paper,sys_user,paper_info
		where
		student_id=sys_user.id and paper_id=paper_info.id and student_id=#{id,
		jdbcType=VARCHAR}
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select student_paper.id , student_id , paper_id ,start_time,end_time,
		score, correct, paper_name
		from student_paper,paper_info
		where
		paper_id=paper_info.id and student_paper.id=#{id,
		jdbcType=BIGINT}
	</select>
	<select id="selectFullScoreByPaperId" parameterType="java.lang.Long"
		resultType="java.lang.Integer">
		SELECT sum(score) from
		question_info,paper_question,paper_info
		where paper_info.id=paper_id
		and question_id=question_info.id and
		paper_info.id=#{id,jdbcType=BIGINT}
	</select>
	<select id="getSubStuPaper" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select sp.id, username, paper_name
		from student_paper sp, sys_user u, paper_info p
		where student_id=u.id and p.id=paper_id and p.id=#{id,jdbcType=BIGINT}  and correct=1 limit 1
	</select>
</mapper>