<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jxnu.dao.personal.PersonalMapper">

	<update id="updateSysUser" parameterType="org.jxnu.pojo.SysUser">
		 update sys_user
    <set >
      <if test="usercode != null and ussercode != '' " >
        usercode = #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="username != null and username != '' " >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null and password != '' " >
        password = MD5(#{password,jdbcType=VARCHAR}),
      </if>
      <if test="salt != null and salt != '' " >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="locked != null and locked != '' " >
        locked = #{locked,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
	</update>


</mapper>